.graph-node {
  border-radius: 50%;
  border: 1px solid black;
  width: 50px;
  height: 50px;

&__title {
   margin-top: 5px;
   font-size: 10px;
   text-align: center;
 }
}

.info {
  width: 200px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}
