<div class='row'>
  <div class='col'>
    <app-canvas />
  </div>
  <div class='col'>
    <div class='info'>
      <div *ngFor='let node of nodes'>
        x: {{node.canvasContext.x}}
        y: {{node.canvasContext.y}}
      </div>
    </div>
  </div>
</div>
<button class='edit-button' (click)='changeEditMode()'>Edit</button>
